body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 400vh;
    /* background: rgba(58, 24, 112, 0.137); */
    background-attachment:fixed;
    background-image: url(img/2020032471023749.jpg);
}


.head {
    width: 100%;
    height: 80px;
    border: 2px solid black;
    background-color: rgba(136, 152, 197, 0.671);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    >nav {
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */

        >ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            &:hover {
                a:not(:hover) {
                    /* background-color: rgb(85, 29, 131); */
                    color: white;
                }
            }

            >li {
                list-style-type: none;
                /* border: 1px solid black; */

                >a {
                    height: 100%;
                    /* background-color: red; */
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: black;
                    font-size: 16px;
                    text-transform: capitalize;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    padding: 0 10px;
                    transition: 1s;
                }
            }
        }
    }
}

.box {
    width: 100%;
    margin: 50px auto;
    display: flex;
    padding: 100px;
    /* position: fixed; */
    >div {
        width: 60px;
        height: 500px;
        flex-grow: 1;
        border: 1px solid black;
        transition: 1.5s;
        background-size: auto 100%;
        border-radius: 50%;

        &:hover {
            flex-grow: 10;
        }

        &:nth-of-type(1) {
            background-image: url(img/1.jpg);
        }

        &:nth-of-type(2) {
            background-image: url(img/2.jfif);
        }

        &:nth-of-type(3) {
            background-image: url(img/3.jfif);
        }

        &:nth-of-type(4) {
            background-image: url(img/4.jfif);
        }

        &:nth-of-type(5) {
            background-image: url(img/5.jfif);
        }

        &:nth-of-type(6) {
            background-image: url(img/6.jfif);
        }

        &:nth-of-type(7) {
            background-image: url(img/7.jfif);
        }

        &:nth-of-type(8) {
            background-image: url(img/8.jfif);
        }

        &:nth-of-type(9) {
            background-image: url(img/9.jfif);
        }

        &:nth-of-type(10) {
            background-image: url(img/10.jfif);
        }
    }
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    >.pic {
        width: 400px;
        height: 300px;
        /* border: 1px solid black; */
        margin: 30px;
        position: relative;
        overflow: hidden;
        &:hover {
            >img {
                scale: 1.2;
            }

            >figcaption {
                scale: 1.2;
                opacity: 0;
            }

            >.frame {
                opacity: 0;
            }
        }

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            transition: 1s;
        }

        >figcaption {
            width: 80%;
            height: 50px;
            background-color: rgba(0, 0, 0, 0.406);
            color: white;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: calc(50% - 25px);
            left: 10%;
            transition: 1s;
        }

        >.frame {
            width: 360px;
            height: 270px;
            position: absolute;
            top: 10px;
            right: 10px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 2px;
            transition: 1s;
        }
    }
}

/* copywrite */
.copy {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
    position: fixed;
    bottom: 0;
    left: 0;

    >img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

/* copywrite */